body{
    font-family: 'Times New Roman', Times, serif, Courier, monospace;
    margin: 0;
}

/* HEADER */
.hero{
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: rgb(77,160,254);
    background-repeat: repeat
}

.logo{
    height: 50px;
    padding-top: 110px;
    padding-left: 10px;
}

/* MAIN */

main{
    margin-left: 10px;
}

h1{
    margin-bottom: 0px;
    font-size: 50px;
}

.credits{
    color: gray;
    margin: auto;
}

.author{
    padding-left: 4px;
    color: rgb(25, 170, 223)
}

.article-images{
    margin-top: 15px;
    font-size: small;
}

.main-text{
    font-size: large;
}

.highlight{
    background-color: yellow;
}

/* Tabella */

thead{
    color: white;
    background-color: rgb(0, 170, 255);
}

th, td{
    text-align: left;
    width: 600px
}

td{
    height: 50px;
}

.tb-first-row, tfoot{
    background-color: rgb(127, 219, 255);
}

/* /Tabella */

/* FOOTER */

footer{
    margin-left: 10px;
    color: grey;
    font-weight: bold;
}

.suggestion{
    margin-bottom: 10px;
}

.related-articles{
    height: 200px;
    width: 200px;
}

.related-articles .title{
    color: white;
}

.related-articles.first-suggestion{
    background-image: url(../img/monitor.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}

.related-articles.second-suggestion{
    background-image: url(../img/graph.jpg);
}