body{
    font-family: 'Times New Roman', Times, serif, Courier, monospace;
    margin: 0;
}

/* HEADER */
.hero{
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: rgb(77,160,254);
    background-repeat: repeat
}

.logo{
    height: 50px;
    padding-top: 110px;
    padding-left: 10px;
}

/* MAIN */
h1{
    margin-bottom: 0px;
    font-size: 50px;
}

.credits{
    color: gray;
    margin: auto;
}

.author{
    padding-left: 4px;
    color: rgb(25, 170, 223)
}

.article-images{
    margin-top: 15px;
    font-size: small;
}

.main-text{
    font-size: large;
}

.highlight{
    background-color: yellow;
}

/* FOOTER */